**/__pycache__
node_modules/
.idea/
volumes/code/
*.pyc
venv/
media/
static/
dump_arianoangelo.sql
settings_docker.py
settings.py
**/migrations
*.sql
cert.key
cert.pem
volumes/db

#docker-compose.yml
