{% extends 'base_generic.html' %}
{% block content %}
    <main class="projects">
        <div class="container">
            <div class="header-container">
                <h1 class="page-title anim-up animate">Projects I worked on...</h1>
            </div>
            <div class="row">
                {% for project in project_list %}
                    <div class="col-lg-4 col-sm-6 col-12 anim-up animate">
                        <div class="projects__project">
                            <a href="{{ project.get_absolute_url }}" class="projects__project-link d-flex flex-column justify-content-center align-items-center">
                                <img class="img-fluid" src="{{ project.portfolio_image.url }}"
                                     alt="{{ project.name }}"/>
                                <div class="projects__project-title">{{ project.name }}</div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}