html {
    font-size: 16px;
}

body {
    font-family: 'Poppins', sans-serif !important;
    color: #1d1d1b;
    font-size: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::selection {
    background-color: #0077c2;
    color: #FFFFFF;
}

::-moz-selection {
    background-color: #00c1de;
    color: #FFFFFF;
}

/* Anims */

.elem-anim-up {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
}

.elem-anim-up.anim {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}

.elem-anim-up {
    -webkit-transition: -webkit-transform .8s ease, opacity .8s ease;
    transition: transform .8s ease, opacity .8s ease;
}

a,
button {
    color: #424242;
    -webkit-transition-property: color, background-color, border;
    transition-property: color, background-color, border;
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}

a:hover {
    text-decoration: none;
    color: #0077c2;
}

/* Reset btn */
button {
    background: transparent;
    border: 0;
    padding: 0;
    margin: 0;
}

button:focus,
button:active {
    outline: none;
    box-shadow: none;
}

figure {
    margin: 0;
}

/* Prevent SVG cuts in Firefox */
svg {
    display: block;
}

.img-cover {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: normal;
    margin-bottom: 0;
}

p {
    margin: 0;
}

a:hover {
    text-decoration: none;
    color: unset;
}

::selection {
    background-color: #0077c2;
    color: #FFFFFF;
}

::-moz-selection {
    background-color: #0077c2;
    color: #FFFFFF;
}

.no-bottom-margin {
    margin-bottom: 0 !important;
}

.header-container {
    margin: 5% auto 7% auto;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.header-container {
    margin-top: 120px;
    margin-bottom: 55px;
}

.header-container h1 {
    font-size: 2rem;
    text-align: center;
    font-weight: 600;
}

.page-subtitle {
    font-family: 'Poppins', sans-serif !important;
    font-size: 1.5rem;
    text-align: center;
}

/*/////////////////////
///////// Nav /////////
/////////////////////*/

nav {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    height: 85px;
    align-items: center;
    z-index: 100;
}

nav .container {
    position: relative;
}

nav .sidenav-trigger {
    display: block;
    font-size: 1rem;
    color: #FFF;
}

.nav-contact-btn {
    background-color: #42A5F5;
    width: 120px;
    height: 40px;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 60px;
    font-size: .875rem;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    transition: all 0.4s ease 0s;
}

.menu-link {
    font-size: 1.25rem;
    letter-spacing: 0.025rem;
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

.sidenav-container {
    background-color: #FFFFFF;
    position: fixed;
    width: 300px;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 10000;
    -webkit-transform: translateX(300px);
    transform: translateX(300px);
    -webkit-transition: -webkit-transform 0.4s ease 0s;
    transition: transform 0.4s ease 0s;
    will-change: transform;
    transform-origin: right center;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 2px rgba(0, 0, 0, 0.07), 0 1px 5px 0 rgba(0, 0, 0, 0.02) !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 2px rgba(0, 0, 0, 0.07), 0 1px 5px 0 rgba(0, 0, 0, 0.02) !important;
}

.sidenav {
    list-style-type: none;
    padding: 110px 0 0 0;
}

.sidenav a {
    display: block;
    padding: 10px 70px;
    color: #1d1d1b;
}

.sidenav a:hover {
    background: rgba(0, 0, 0, 0.1);
}

.sidenav-trigger {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.sidenav-close {
    position: absolute;
    right: 40px;
    top: 40px;
}

.home .sidenav-trigger .fa-bars {
    color: #FFF;
}

.sidenav-trigger .fa-bars {
    color: #212121;
}


.sidenav-trigger:focus {
    background-color: transparent;
}

.sidenav-overlay {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.sidenav-overlay-hide {
    display: none;
}

.side-open {
    transform: translateX(0) !important;
}

.logo-container {
    position: absolute;
    right: 0;
    left: 0;
    text-align: center;
}

.home .site-logo {
    color: #FFF;
}

.home .site-logo:hover {
    text-decoration: none;
    color: #FFF;
}

.site-logo {
    font-family: 'Fira Code', monospace, sans-serif;
    font-size: 1.375rem;
    text-align: center;
    margin: auto 0 auto 0;
    line-height: 1;
    color: #212121;
    text-decoration: none;
}

.site-logo:hover {
    text-decoration: none;
    color: #212121;
}

.button-container {
    position: absolute;
    right: 30px;
}

/*/////////////////////
/////// Banner ////////
/////////////////////*/

.banner {
    position: relative;
    height: 100vh;
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
}

.banner-overlay h1 {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 600;
    font-size: 2.2rem;
    letter-spacing: 0.085rem;
    line-height: 1.4;
    color: #FFF;
}

/*/////////////////////
//////// Footer ///////
/////////////////////*/

footer {
    background-color: #1d1d1d;
    overflow: hidden;
}

.footer-ctr {
    padding: 70px 0 60px;
}

.social-container {
    max-width: 60%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 7px;
}

.social-logo {
    display: block;
    margin: 0 8px;
}

.social-logo > svg {
    width: 35px;
    height: 40px;
}

.social-logo:hover > svg > .cls-1 {
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.social-logo:hover > svg > .cls-1 {
    fill: #bdbdbd;
}

.copyright {
    font-family: 'Fira Code', sans-serif !important;
    font-size: 0.775rem;
    line-height: 1;
    letter-spacing: 1px;
    color: #FFF;
    padding: 15px 0 0 0;
    margin: 0 !important;
    font-weight: 300;
}

/*/////////////////////
////// Home Page //////
/////////////////////*/

.hp-w-bg {
    background: #F6F6F6;
    padding: 80px 0;
}

.hp-w-bg h2 {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.085rem;
    line-height: 1;
}

.hp-w-bg span {
    font-size: 0.85rem;
    letter-spacing: 0.085rem;
    font-weight: 400;
}

.hp-w-bg p {
    font-size: 1.1rem;
    line-height: 1.3;
    letter-spacing: 0.025rem;
    font-weight: 500;
}

.hp-about-title {
    text-align: center;
}

.container.hp-skills-container {
    padding-top: 100px;
    padding-bottom: 100px;
}

.container.hp-skills-container h1 {
    font-weight: bold;
    font-size: 2.25rem;
    margin-bottom: 60px;
    text-align: center;
}

.container.hp-skills-container .wrapper {
    text-align: center;
    padding: 50px 0;
    border: 1.5px solid #424242;
    border-radius: 25px;
    -webkit-transition: -webkit-box-shadow 0.4s ease 0s;
    transition: box-shadow 0.4s ease 0s;
}

.container.hp-skills-container .wrapper svg {
    display: inline-block;
}

.container.hp-skills-container .wrapper svg {
    width: 125px;
    margin-bottom: 30px;
}

.container.hp-skills-container .wrapper h2 {
    font-size: 1.25rem;
    font-weight: bold;
    letter-spacing: 0.135rem;
}

.hp-w-bg .hp-w-link {
    text-align: center;
}

.hp-w-link-ctr {
    margin: 30px 0 80px;
    text-align: center;
}

.hp-w-link {
    position: relative;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 500;
    color: #424242;
    border: 1.5px solid #424242;
    letter-spacing: 0.135rem;
    margin: 0 auto;
    padding: 10px 25px;
    border-radius: 5px;
    transition: background-color 0.4s ease 0s, transform 0.4s ease 0s, box-shadow 0.4s ease 0s;
}


/*/////////////////////
////// Projects ///////
/////////////////////*/

.project-list {
    margin-bottom: 60px;
}

.project-ctr {
    margin-bottom: 30px;
    border-radius: 25px;
    border: 1.5px solid #424242;
}

.project-link {
    border-radius: 20px;
    height: 350px;
    transition: box-shadow 0.4s ease 0s;
}

.project-link a {
    color: #424242;
}

.project-link img {
    width: 70%;
}

.project-link h1 {
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: .085rem;
}

/* Single */

.project-spec h2,
.project-spec p {
    display: inline-block;
    font-size: 1rem;
    line-height: 1.4;
}

.project-spec h2 {
    font-weight: 600;
}

.project-ct {
    padding-top: 10px;
    margin-bottom: 100px;
}

.project-title {
    font-family: "Poppins", sans-serif !important;
    font-size: 1rem;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 0.075rem;
}

.project-images-ctr {
    margin-top: 100px;
}

.project-img {
    text-align: center;
}

.project-img img {
    width: 500px;
}

.project-pagination {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
    z-index: 5;
    text-align: center;
}

.project-pagination button {
    width: 8px;
    height: 8px;
    background: #424242;
    margin: 0 5px;
}

.project-ct {
    background-color: #f6f6f6;
    border-radius: 25px;
    padding: 5%;
    margin-top: 30px;
}

.project-text {
    margin-top: 20px;
}

.project-spec h1 {
    font-size: 1.45rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.project-text h2 {
    font-size: 1.25rem;
    font-weight: 600;
}

.project-text p {
    font-size: 1rem;
}

/*/////////////////////
//// Media Queries ////
/////////////////////*/

@media only screen and (min-width: 992px) {

    /* Navbar */
    .nav-contact-btn:hover {
        background-color: #0077c2;
    }

    .nav-contact-btn:hover {
        text-decoration: none;
        color: #FFF;
    }

    /* Home */
    .hp-w-link:hover {
        color: #FFF;
        background-color: #424242;
        transform: translateY(-5px);
        -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);;
    }

    .container.hp-skills-container .wrapper:hover {
        -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
    }
}

@media only screen and (max-width: 992px) {
    /* Banner */
    .banner-overlay > .container {
        text-align: center;
    }

    /* Home */
    .hp-w-bg {
        text-align: center;
    }

    .hp-about-text {
        margin-top: 10px;
    }

    .container.hp-skills-container .wrapper svg {
        width: 100px;
    }

    .container.hp-skills-container .wrapper h2 {
        font-size: .875rem;
    }

    .project-link:hover {
        color: #424242;
        -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.35);
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.35);;
    }
}

@media only screen and (max-width: 576px) {

    .header-container h1 {
        font-size: 1.65rem;
    }

    .page-subtitle {
        font-family: 'Poppins', sans-serif !important;
    }

    /* Nav */
    .nav-contact-btn {
        display: none !important;
    }

    .sidenav-container {
        width: 100%;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    .sidenav a {
        padding: 10px 40px;
    }

    /* Banner */
    .banner-overlay h1 {
        font-size: 1.25rem;
    }

    /* Home */
    .hp-w-bg h2 {
        font-size: 1.6rem;
    }

    .hp-w-bg p {
        font-size: .875rem;
    }

    .container.hp-skills-container .wrapper {
        margin-bottom: 30px;
    }

    .container.hp-skills-container h1 {
        font-weight: bold;
        font-size: 1.25rem;
    }

    .container.hp-skills-container {
        padding-top: 80px;
        padding-bottom: 40px;
    }

    .hp-w-link {
        font-size: .875rem;
    }

    /* Project - Single */

    .project-ct {
        padding: 10%;
    }

    /* Footer */
    .footer-ctr {
        padding: 80px 0;
    }
}