{% extends 'base_generic.html' %}
{% block content %}
    {% load static %}
    <div class="banner" style="background-image: url('{% static 'assets/img/banner.jpg' %}')" role="figure">
        <div class="banner-overlay d-flex align-items-center">
            <div class="container elem-anim-up">
                <h1>
                    Hello, my name is Ariano<br/>
                    and I'm a Web Developer.
                </h1>
            </div>
        </div>
    </div>
    <div class="hp-w-bg">
        <div class="container">
            <div class="row elem-anim-up">
                <div class="col-lg-6 col-12">
                    <div class="hp-about-title">
                        <h2>ABOUT ME</h2>
                        <span>A small biography</span>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="hp-about-text">
                        <p>
                            I'm a 24 year old Web Developer graduated from Escola Superior de Educação de Coimbra in
                            "Comunicação e Design Multimédia".
                            <br/>
                            Currently working at <a href="https://www.ruiverissimodesign.com/" target="_blank">Rui
                            Veríssimo Design</a> since 2019.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container hp-resume">
        <h1 class="elem-anim-up">My Résumé</h1>
        <p class="elem-anim-up">(For the complete version <a href="mailto:ariano.f.angelo@gmail.com">contact me</a>)</p>
        <h2 class="elem-anim-up">Education</h2>
        <ul class="elem-anim-up">
            <li>
                <span> 2016_2019 ></span> Comunicação e Design Multimédia na Escola
                Superior de Educação de Coimbra.
            </li>
        </ul>
        <div class="divider elem-anim-up"></div>
        <h2 class="elem-anim-up">
            Work Experience
        </h2>
        <ul class="elem-anim-up">
            <li>
                <span>2017_2017 ></span> Author at 4Gnews
            </li>
            <li>
                <span>2019_2019 ></span> Internship at Rui Veríssimo Design
            </li>
            <li>
                <span>2019_2020 ></span> Professional Internship at Rui Veríssimo Design
            </li>
            <li>
                <span>2020_PRESENT ></span> Web Developer at Rui Veríssimo Design
            </li>
        </ul>
        <div class="divider elem-anim-up"></div>
        <h2 class="elem-anim-up">
            Skills
        </h2>
        <ul class="elem-anim-up">
            <li>
                HTML
            </li>
            <li>
                JavaScript
            </li>
            <li>
                Python
            </li>
            <li>
                Django
            </li>
            <li>
                PHP
            </li>
            <li>
                WordPress
            </li>
            <li>
                React
            </li>
            <li>
                Next.js
            </li>
            <li>
                Strapi
            </li>
            <li>
                Sass
            </li>
            <li>
                Gulp
            </li>
            <li>
                Webpack
            </li>
            <li>
                SQL
            </li>
            <li>
                Adobe Illustrator
            </li>
            <li>
                Adobe Photoshop
            </li>
        </ul>
    </div>
    <div class="hp-w-link-ctr elem-anim-up">
        <a href="{% url 'project' %}" class="hp-w-link">CHECK MY PORTFOLIO</a>
    </div>
{% endblock %}