{% extends 'base_generic.html' %}
{% block content %}
    {% load static %}
    <div class="banner" style="background-image: url('{% static 'assets/img/banner.jpg' %}')" role="figure">
        <div class="banner-overlay d-flex align-items-center">
            <div class="container elem-anim-up">
                <h1>
                    Hello, my name is Ariano<br/>
                    and I'm a Web Developer.
                </h1>
            </div>
        </div>
    </div>
    <div class="hp-w-bg">
        <div class="container">
            <div class="row elem-anim-up">
                <div class="col-lg-6 col-12">
                    <div class="hp-about-title">
                        <h2>ABOUT ME</h2>
                        <span>A small biography</span>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="hp-about-text">
                        <p>
                            I'm a 22 year old Web Developer graduated at Escola Superior de Educação de Coimbra in
                            "Comunicação e Design Multimédia".
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container hp-skills-container">
        <h1 class="elem-anim-up">What can I do for you?</h1>
        <div class="row">
            <div class="col-md-4 col-12 elem-anim-up">
                <div class="wrapper">
                    <svg width="100%" height="100%" viewBox="0 0 400 400" version="1.1"
                         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                         style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
                        <rect id="Web Design" x="0" y="0" width="400" height="400" style="fill:none;"/>
                        <g id="WebDesign">
                            <g transform="matrix(2.8221,0,0,2.8221,5.27493,27.8518)">
                                <path d="M126.5,0L11.5,0C5.151,0 0,5.123 0,11.438L0,87.688C0,94.002 5.151,99.125 11.5,99.125L57.5,99.125L53.667,110.562L36.417,110.562C33.23,110.562 30.667,113.112 30.667,116.281C30.667,119.45 33.23,122 36.417,122L101.583,122C104.77,122 107.333,119.45 107.333,116.281C107.333,113.112 104.77,110.562 101.583,110.562L84.333,110.562L80.5,99.125L126.5,99.125C132.849,99.125 138,94.002 138,87.688L138,11.438C138,5.123 132.849,0 126.5,0ZM122.667,83.875L15.333,83.875L15.333,15.25L122.667,15.25L122.667,83.875Z"
                                      style="fill:#1d1d1b;fill-rule:nonzero;"/>
                            </g>
                        </g>
                    </svg>
                    <h2>Web Design</h2>
                </div>
            </div>
            <div class="col-md-4 col-12 elem-anim-up">
                <div class="wrapper">
                    <svg width="100%" height="100%" viewBox="0 0 400 400" version="1.1"
                         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                         style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
                        <g transform="matrix(1,0,0,1,-477,0)">
                            <g id="Artboard2" transform="matrix(1,0,0,1,477,0)">
                                <rect x="0" y="0" width="400" height="400" style="fill:none;"/>
                                <g transform="matrix(2.44867,0,0,2.44867,33.4812,33.4434)">
                                    <path d="M132.255,37.747L120.01,49.993C118.761,51.241 116.743,51.241 115.494,49.993L86.01,20.508C84.762,19.26 84.762,17.241 86.01,15.993L98.255,3.747C103.222,-1.22 111.297,-1.22 116.291,3.747L132.255,19.711C137.249,24.679 137.249,32.754 132.255,37.747ZM75.491,26.511L5.738,96.265L0.107,128.538C-0.664,132.894 3.135,136.666 7.491,135.922L39.765,130.265L109.518,60.511C110.766,59.263 110.766,57.244 109.518,55.996L80.033,26.511C78.758,25.263 76.74,25.263 75.491,26.511ZM32.965,90.288C31.504,88.827 31.504,86.49 32.965,85.029L73.871,44.122C75.332,42.661 77.669,42.661 79.13,44.122C80.591,45.583 80.591,47.921 79.13,49.382L38.224,90.288C36.763,91.749 34.426,91.749 32.965,90.288ZM23.376,112.627L36.126,112.627L36.126,122.269L18.993,125.271L10.732,117.01L13.733,99.877L23.376,99.877L23.376,112.627Z"
                                          style="fill:#1d1d1b;fill-rule:nonzero;"/>
                                </g>
                            </g>
                        </g>
                    </svg>
                    <h2>Design</h2>
                </div>
            </div>
            <div class="col-md-4 col-12 elem-anim-up">
                <div class="wrapper">
                    <svg width="100%" height="100%" viewBox="0 0 400 400" version="1.1"
                         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                         style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
                        <g transform="matrix(1,0,0,1,-939,0)">
                            <g transform="matrix(1,0,0,1,939,0)">
                                <rect x="0" y="0" width="400" height="400" style="fill:none;"/>
                                <g transform="matrix(2.75793,0,0,2.75793,23.4927,55.003)">
                                    <path d="M51.596,55.447L12.728,94.923C10.853,96.827 7.814,96.827 5.939,94.923L1.406,90.319C-0.466,88.418 -0.469,85.338 1.398,83.433L32.202,52L1.398,20.568C-0.469,18.662 -0.465,15.582 1.406,13.681L5.939,9.077C7.814,7.173 10.853,7.173 12.728,9.077L51.596,48.553C53.471,50.457 53.471,53.543 51.596,55.447ZM128,92.625L128,86.125C128,83.433 125.851,81.25 123.2,81.25L62.4,81.25C59.749,81.25 57.6,83.433 57.6,86.125L57.6,92.625C57.6,95.318 59.749,97.5 62.4,97.5L123.2,97.5C125.851,97.5 128,95.318 128,92.625Z"
                                          style="fill:#1d1d1b;fill-rule:nonzero;"/>
                                </g>
                            </g>
                        </g>
                    </svg>
                    <h2>Web Development</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="hp-w-link-ctr">
        <a href="{% url 'project' %}" class="hp-w-link elem-anim-up">CHECK MY PORTFOLIO</a>
    </div>
{% endblock %}