.home {
  &__about {
    background: #F6F6F6;
    padding: 80px 0;

    p {
      font-size: 1.1rem;
      line-height: 1.3;
      letter-spacing: $letter_spacing_3;
      font-weight: 500;
      margin-bottom: 14px;

      @include media-breakpoint-down(sm) {
        font-size: .875rem;
      }
    }
  }

  &__about-title {
    @include media-breakpoint-down(lg) {
      margin-bottom: 20px;
    }

    h2 {
      font-size: 2rem;
      font-weight: 600;
      letter-spacing: $letter_spacing_2;
      line-height: 1;
    }

    span {
      font-size: 0.85rem;
      letter-spacing: 0.085rem;
      font-weight: 400;
    }
  }

  &__about-text {
    a {
      font-weight: 700;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__resume {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  &__resume-title {
    h1 {
      font-weight: bold;
      font-size: 2.25rem;
      letter-spacing: $letter_spacing_2;
    }

    p {
      margin-bottom: 40px;
      font-size: .725rem;
      font-weight: 300;


      a {
        font-weight: 600;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &__resume-body {
    h2 {
      text-transform: uppercase;
      font-size: 1.5rem;
      font-weight: 500;
      margin-bottom: 10px;
      letter-spacing: .025rem;
      margin-top: 40px;

      &:first-child {
        margin-top: 0;
      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        border-bottom: .5px solid #ccc;
        padding: 14px 0;

        &:first-child {
          border-top: .5px solid #ccc;
        }

        span {
          font-weight: 600;
        }
      }
    }
  }
}
